/* Dennis custom styling */

/* Site header, logo, company name and nav */
header {
    background-color: #1abc9c;
    display: flex;  /* The logo and the nav are flex items */
    align-items: center;
}
header img {
    padding: 4px;
    margin: 6px 6px;
    border: 2px solid white;
    border-radius: 8px;
}
#logo {
    color: white;
    padding-left: 16px;
    font-size: xx-large;
}

/* Main menu */
nav {
    margin-left: auto;  /* Aligns the menu to the right */
}
nav ul {
    margin: 0px 10px; /* remove built in margins (shortand 2) */
    padding: 0; /* Remove built in padding */
}
nav li {
    list-style: none;   /* remove ugly built in list styling */
    float: left;  /* arrange li items next to one another on desktop */
    padding: 10px; /* add some airyness between elements */
}
nav li > a {
    text-decoration: none; /* remove built in underscore */
    color: white; /* remove built in blue/purple link styling */
    padding: 8px;                   /* Preparation for hover functionality */
    border-radius: 4px;
}
nav a:hover {
    background-color: #00AA89;    /* Change background on hover "pseudoclass" */ 
}

/* General styling */
body {
    background-color: #3D3D3D;
    margin: 0;
    font-family: "Helvetice Neue", Helvetica, sans-serif;
}
#container {
    background-color: #fff;
    color: #3D3D3D;
    max-width: 800px;
    margin: auto;
    min-height: 100vh;
}
article {
    margin-bottom: 30px;
    padding-left: 10px;
}

/* Footer */
footer {
    background-color: #1abc9c;
    color: #fff;
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-width: 790px;
    padding: 5px;
}

/* Responsive styling */
@media (max-width: 640px) {
    header {
        display: block;
        text-align: center;
    }

    nav li {
        float: none;
    }
    
}